<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>

    <div
      class="mt-8 p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 border-2 border-blue-500 hover:scale-105 transition-transform">
      <div class="shrink-0">
        <div class="h-12 w-12 bg-blue-500 rounded-full flex items-center justify-center text-white">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </div>
      </div>
      <div>
        <div class="text-xl font-medium text-black">Tailwind CSS 3</div>
        <p class="text-slate-500 text-sm">Working perfectly in Angular!</p>
      </div>
    </div>
  </div>
</ion-content>